{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}  

  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>404 Page</h2>
                        <p>Page <span>-</span> not found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
<!-- breadcrumb start-->

{% endblock content %}