{% extends 'base.html' %}

{% block content %}
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="breadcrumb_iner">
                  <div class="breadcrumb_iner_item">
                      <h2>Password Reset</h2>
                      <span>We've emailed you instructions for setting your password.
                        <br>
                        If they haven't arrived in a few minutes, check your spam folder.</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}
