{% extends 'base.html' %}

{% block content %}
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="breadcrumb_iner">
                  <div class="breadcrumb_iner_item">
                      <h2>Password Change</h2>
                      <span>Password Change done</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}
